[Desktop Entry]
Name=Web Apps
Name[am]=የ ዌብ መተግበሪያዎች
Name[be]=Вэб-праграмы
Name[ca]=Aplicacions web
Name[cs]=Webové aplikace
Name[cy]=Apiau Gwe
Name[da]=Webprogrammer
Name[de]=Webapps
Name[el]=Διαδικτυακές εφαρμογές
Name[eo]=Retapoj
Name[es]=Aplicaciones web
Name[et]=Veebiäpid
Name[eu]=Web aplikazioak
Name[fi]=WebApp verkkosivu ohjelmaksi
Name[fr]=Applications web
Name[fr_CA]=Applications Web
Name[he]=יישומוני רשת
Name[hi]=वेब अनुप्रयोग
Name[hr]=Web aplikacije
Name[hu]=Webalkalmazások
Name[ia]=Apps web
Name[ie]=Applicationes web
Name[is]=Vefforrit
Name[it]=Applicazioni web
Name[ja]=ウェブアプリ
Name[kab]=Isnaen n web
Name[kn]=ವೆಬ್ ಆ್ಯಪ್ ಗಳು
Name[ko]=웹 앱
Name[la]=Applicationes Interretales
Name[lt]=Saityno programos
Name[nl]=Webtoepassingen
Name[pl]=Aplikacje internetowe
Name[pt]=Aplicações Web
Name[pt_BR]=Aplicativos Web
Name[ro]=Aplicații Web
Name[ru]=Веб-приложения
Name[sk]=Webové Aplikácie
Name[sl]=Spletni programi
Name[sr]=Веб програми
Name[sr@latin]=Veb aplikacije
Name[sv]=Webbappar
Name[tr]=Web Uygulamaları
Name[uk]=Вебдодатки
Name[uz]=Veb-ilovalar
Name[vi]=Những ứng dụng trình duyệt Web
Name[zgh]=ⵜⵉⵙⵏⵙⵉⵡⵉⵏ ⵏ ⵡⵉⴱ
Name[zh_TW]=網路應用程式
Comment=Run websites as if they were apps
Comment[be]=Запуск вэб-сайтаў у асобных вокнах як звычайныя праграмы
Comment[ca]=Executeu llocs web com si fossin aplicacions
Comment[cs]=Spouštějte webové stránky, jako by to byly aplikace
Comment[cy]=Rhedeg gwefannau fel petaent yn apiau
Comment[da]=Kør websites som om de var programmer
Comment[de]=Webseiten wie Anwendungen ausführen
Comment[el]=Τρέξτε ιστοσελίδες σαν να ήταν εφαρμογές
Comment[eo]=Ruli retejojn kvazaŭ ili estus apoj
Comment[es]=Ejecutar sitios web como si fueran aplicaciones
Comment[et]=Kasuta veebilehti, nagu need oleksid rakendused
Comment[eu]=Exekutatu webguneak aplikazioak balira bezala
Comment[fi]=Suorita verkkosivuja kuin ne olisivat ohjelmia
Comment[fr]=Lancer des sites Web comme des applications
Comment[fr_CA]=Exécuter les sites web comme s'ils étaient des applications
Comment[he]=הפעלת אתרי מרשתת כאילו היו יישומונים
Comment[hi]=वेबसाइट आदि अनुप्रयोगों के रूप में कार्यरत
Comment[hr]=Pokrenite web stranice kao da su aplikacije
Comment[hu]=Webhelyek futtatása, mintha alkalmazások volnának
Comment[id]=Jalankan situs web selayaknya aplikasi
Comment[ie]=Lansar sites web quam applicationes
Comment[is]=Keyrðu vefsvæði eins og um forrit væri að ræða
Comment[it]=Esegui i siti web come se fossero applicazioni
Comment[ja]=ウェブサイトをアプリのように実行します
Comment[kab]=Selkem ismal n web amzun d isnasen
Comment[kn]=ವೆಬ್‌ಸೈಟ್‌ಗಳನ್ನು ಅಪ್ಲಿಕೇಶನ್‌ಗಳಂತೆ ಚಲಾಯಿಸಿ
Comment[ko]=앱처럼 웹 사이트 실행
Comment[la]=Locus interretales velut applicationes pelle
Comment[lt]=Paleisti internetines svetaines taip, tarsi jos būtų programos
Comment[nl]=Websites draaien alsof het toepassingen zijn
Comment[oc]=Lançar los sites Web coma d’aplicacions
Comment[pl]=Uruchamiaj strony internetowe tak, jakby były aplikacjami
Comment[pt]=Executar websites como se fossem aplicações
Comment[pt_BR]=Execute sites como se fossem aplicativos
Comment[ro]=Rulează site-urile web ca și cum ar fi aplicații
Comment[ru]=Запуск веб-сайтов, как если бы они были приложениями
Comment[sk]=Spusti webstránky ako by to boli aplikácie
Comment[sl]=Izvajaj spletišča, kot da so programi
Comment[sr]=Покрените вебсајтове као да су програми
Comment[sr@latin]=Pokreće veb sajtove kao da su aplikacije
Comment[sv]=Kör webbplatser som om de vore appar
Comment[tr]=Web sitelerini uygulama gibi çalıştırın
Comment[uk]=Запуск вебсайтів так, як якби вони були застосунками
Comment[uz]=Veb-saytlarni xuddi ilovalar kabi ishga tushirish
Comment[zh_TW]=以應用程式的方式執行網站
Exec=webapp-manager
Icon=webapp-manager
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Network;
StartupNotify=false
NotShowIn=KDE;
