[Desktop Entry]
Name=Web Apps
Comment=Run websites as if they were apps
GenericName=Web Apps
Exec=webapp-manager
Icon=webapp-manager
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Network;
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
