#navigator-toolbox:not(:hover, :focus, :active) {
  #toolbar-menubar[inactive="true"] ~ #TabsToolbar,
  #titlebar:has(#toolbar-menubar[inactive="true"]) ~ #nav-bar {
	  visibility: collapse;
  }
}

#nav-bar * {
    visibility: visible !important;
}

#navigator-toolbox {
    border-bottom: none !important;
}
