[Desktop Entry]
Name=Web Apps
Name[ca]=Aplicacions web
Name[es]=Aplicaciones web
Name[fr]=Applications web
Name[tr]=Web Uygulamaları
Name[it]=Web App
Comment=Run websites as if they were apps
Comment[ca]=Executeu llocs web com si fossin aplicacions
Comment[es]=Ejecutar los sitios web como si fueran aplicaciones
Comment[fr]=Lancer des sites Web comme des applications
Comment[tr]=Web sitelerini uygulama gibi çalıştırın
Comment[it]=Esegui siti web come se fossero app
GenericName=Web Apps
GenericName[ca]=Aplicacions web
GenericName[es]=Aplicaciones web
GenericName[fr]=Applications web
GenericName[tr]=Web Uygulamaları
GenericName[it]=Web App
Exec=webapp-manager
Icon=webapp-manager
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Network;
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
