[Desktop Entry]
Name=Web Apps
Name[am]=የ ዌብ መተግበሪያዎች
Name[ar]=تطبيقات ويب
Name[be]=Вэб-праграмы
Name[bg]=Уеб приложения
Name[br]=Arloadoù web
Name[ca]=Aplicacions web
Name[cs]=Webové aplikace
Name[cy]=Apiau Gwe
Name[da]=Webprogrammer
Name[de]=Webapps
Name[el]=Εφαρμογές ιστού
Name[eo]=Retapoj
Name[es]=Aplicaciones web
Name[et]=Veebiäpid
Name[eu]=Web aplikazioak
Name[fa]=برنامه های وب
Name[fi]=Verkkosovellukset
Name[fr]=Applications web
Name[fr_CA]=Applications Web
Name[he]=יישומוני רשת
Name[hi]=वेब एप्स
Name[hr]=Web aplikacije
Name[hu]=Webalkalmazások
Name[ia]=Applicationes web
Name[ie]=Applicationes web
Name[is]=Vefforrit
Name[it]=Applicazioni web
Name[ja]=ウェブアプリ
Name[kab]=Isnaen n web
Name[kn]=ವೆಬ್ ಆ್ಯಪ್ ಗಳು
Name[ko]=웹 앱
Name[la]=Applicationes Interretales
Name[lt]=Saityno programos
Name[nb]=Nettapper
Name[nl]=Webtoepassingen
Name[pl]=Aplikacje internetowe
Name[pt]=Aplicações Web
Name[pt_BR]=Aplicativos Web
Name[ro]=Aplicații Web
Name[ru]=Веб-приложения
Name[sk]=Webové Aplikácie
Name[sl]=Spletni programi
Name[sr]=Веб програми
Name[sr@latin]=Veb aplikacije
Name[sv]=Webbappar
Name[te]=వెబ్ యాప్‌లు
Name[tr]=Web Uygulamaları
Name[uk]=Вебдодатки
Name[uz]=Veb-ilovalar
Name[vi]=Những ứng dụng trình duyệt Web
Name[zgh]=ⵜⵉⵙⵏⵙⵉⵡⵉⵏ ⵏ ⵡⵉⴱ
Name[zh_CN]=Web 应用
Name[zh_TW]=網路應用程式
Comment=Run websites as if they were apps
Comment[ar]=تشغيل مواقع الويب كما لو كانت تطبيقات
Comment[ast]=Executa sitios web comu si fueren apps
Comment[be]=Запуск вэб-сайтаў у асобных вокнах як звычайныя праграмы
Comment[bg]=Отваряне на уеб сайтове все едно са приложения
Comment[ca]=Executeu llocs web com si fossin aplicacions
Comment[cs]=Spouštějte webové stránky, jako by to byly aplikace
Comment[cy]=Rhedeg gwefannau fel petaent yn apiau
Comment[da]=Kør websites som om de var programmer
Comment[de]=Webseiten wie Anwendungen ausführen
Comment[el]=Τρέξτε ιστοσελίδες σαν να ήταν εφαρμογές
Comment[eo]=Ruli retejojn kvazaŭ ili estus apoj
Comment[es]=Ejecutar sitios web como si fueran aplicaciones
Comment[et]=Kasuta veebilehti, nagu need oleksid rakendused
Comment[eu]=Exekutatu webguneak aplikazioak balira bezala
Comment[fa]=وبسایت ها را طوری اجرا کنید که انگار برنامه اند
Comment[fi]=Käytä verkkosivuja kuin ne olisivat ohjelmia
Comment[fr]=Lancer des sites Web comme des applications
Comment[fr_CA]=Exécuter les sites web comme s'ils étaient des applications
Comment[he]=הפעלת אתרי מרשתת כאילו היו יישומונים
Comment[hi]=वेबसाइट को एसे चलाएँ जैसे वे एप्स हों
Comment[hr]=Pokrenite web stranice kao da su aplikacije
Comment[hu]=Webhelyek futtatása, mintha alkalmazások volnának
Comment[ia]=Executar sitos web como si los essera applicationes.
Comment[id]=Jalankan situs web selayaknya aplikasi
Comment[ie]=Lansar sites web quam applicationes
Comment[is]=Keyrðu vefsvæði eins og um forrit væri að ræða
Comment[it]=Esegui i siti web come se fossero applicazioni
Comment[ja]=ウェブサイトをアプリのように実行します
Comment[kab]=Selkem ismal n web amzun d isnasen
Comment[kn]=ವೆಬ್‌ಸೈಟ್‌ಗಳನ್ನು ಅಪ್ಲಿಕೇಶನ್‌ಗಳಂತೆ ಚಲಾಯಿಸಿ
Comment[ko]=앱처럼 웹 사이트 실행
Comment[la]=Locus interretales velut applicationes pelle
Comment[lt]=Paleisti svetaines kaip programas
Comment[nb]=Kjør nettsider som om de var apper.
Comment[nl]=Websites draaien alsof het toepassingen zijn
Comment[oc]=Lançar los sites Web coma d’aplicacions
Comment[pl]=Uruchamiaj strony internetowe tak, jakby były aplikacjami
Comment[pt]=Executar websites como se fossem aplicações
Comment[pt_BR]=Execute sites como se fossem aplicativos
Comment[ro]=Rulează site-urile web ca și cum ar fi aplicații
Comment[ru]=Запуск сайтов, как если бы они были приложениями
Comment[sk]=Spusti webstránky ako by to boli aplikácie
Comment[sl]=Izvajaj spletišča, kot da so programi
Comment[sr]=Покрените вебсајтове као да су програми
Comment[sr@latin]=Pokreće veb sajtove kao da su aplikacije
Comment[sv]=Kör webbplatser som om de vore appar
Comment[te]=వెబ్‌సైట్‌లను యాప్‌ల వలె అమలు చేయండి
Comment[tr]=Web sitelerini uygulama gibi çalıştırın
Comment[uk]=Запуск вебсайтів так, як якби вони були застосунками
Comment[uz]=Veb-saytlarni xuddi ilovalar kabi ishga tushirish
Comment[vi]=Chạy các trang web như thể chúng là ứng dụng
Comment[zh_CN]=像本地程序一样打开网站
Comment[zh_TW]=以應用程式的方式執行網站
GenericName=Web Apps
GenericName[am]=የ ዌብ መተግበሪያዎች
GenericName[ar]=تطبيقات ويب
GenericName[be]=Вэб-праграмы
GenericName[bg]=Уеб приложения
GenericName[br]=Arloadoù web
GenericName[ca]=Aplicacions web
GenericName[cs]=Webové aplikace
GenericName[cy]=Apiau Gwe
GenericName[da]=Webprogrammer
GenericName[de]=Webapps
GenericName[el]=Εφαρμογές ιστού
GenericName[eo]=Retapoj
GenericName[es]=Aplicaciones web
GenericName[et]=Veebiäpid
GenericName[eu]=Web aplikazioak
GenericName[fa]=برنامه های وب
GenericName[fi]=Verkkosovellukset
GenericName[fr]=Applications web
GenericName[fr_CA]=Applications Web
GenericName[he]=יישומוני רשת
GenericName[hi]=वेब एप्स
GenericName[hr]=Web aplikacije
GenericName[hu]=Webalkalmazások
GenericName[ia]=Applicationes web
GenericName[ie]=Applicationes web
GenericName[is]=Vefforrit
GenericName[it]=Applicazioni web
GenericName[ja]=ウェブアプリ
GenericName[kab]=Isnaen n web
GenericName[kn]=ವೆಬ್ ಆ್ಯಪ್ ಗಳು
GenericName[ko]=웹 앱
GenericName[la]=Applicationes Interretales
GenericName[lt]=Saityno programos
GenericName[nb]=Nettapper
GenericName[nl]=Webtoepassingen
GenericName[pl]=Aplikacje internetowe
GenericName[pt]=Aplicações Web
GenericName[pt_BR]=Aplicativos Web
GenericName[ro]=Aplicații Web
GenericName[ru]=Веб-приложения
GenericName[sk]=Webové Aplikácie
GenericName[sl]=Spletni programi
GenericName[sr]=Веб програми
GenericName[sr@latin]=Veb aplikacije
GenericName[sv]=Webbappar
GenericName[te]=వెబ్ యాప్‌లు
GenericName[tr]=Web Uygulamaları
GenericName[uk]=Вебдодатки
GenericName[uz]=Veb-ilovalar
GenericName[vi]=Những ứng dụng trình duyệt Web
GenericName[zgh]=ⵜⵉⵙⵏⵙⵉⵡⵉⵏ ⵏ ⵡⵉⴱ
GenericName[zh_CN]=Web 应用
GenericName[zh_TW]=網路應用程式
Exec=webapp-manager
Icon=webapp-manager
Terminal=false
Type=Application
Encoding=UTF-8
Categories=Application;Network;
X-KDE-StartupNotify=false
OnlyShowIn=KDE;
